h1 {
    text-align: center;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
}

caption {
    caption-side: bottom;
    padding: 15px;
}

tr:first-child th,
th:first-child {
    background-color: rgb(43, 14, 99);
    color: white;
}

th {
    background-color: rgb(79, 73, 163);
    color: white;
    font-size: 1.5em;
}

th,
td {
    border: 1px solid rgb(39, 20, 46);
    text-align: center;
    font-size: 1.5em;
}

th,
td {
    padding: 5px 15px;
}

tr:nth-child(even) {
    background-color: rgb(236, 230, 240);
}