body {
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #022b3a;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin: 20px auto;
}

.card {
    border: 2px solid gray;
    overflow: hidden;
    border-radius: 25px;
}

.card h3 {
    margin: 0;
    text-align: center;
    background-color: #1f7a8c;
    color: white;
    padding: 20px;
}

.card p {
    padding: 10px;
}

.card img {
    display: block;
    margin: auto;
    width: 95%;
    border: 1px solid gray;
    justify-content: center;
}

footer {
    background-color: #022b3a;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#lastModified {
    color: white;
}