body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #1E1E24;
    padding: 20px;
    color: white;
    display: flex;
}

header h1 {
    font-size: 35px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80%;
    max-width: 100px;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    cursor: pointer;
    top: 3rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    background-color: #92140C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    display: none;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 1rem;

}

.navigation a:hover {
    background-color: #1E1E24;
    color: #ffffff;
}

/* when the button is clicked - the open class is toggled */
.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}

/* For my coding with my hero image */
#hero {
    display: flex;
    justify-content: center;
}

#hero img {
    width: 100%;
    height: auto;

}

/* For my coding with my hero */

button {
    position: absolute;
    top: 20em;
    background-color: #92140C;
    padding: 25px;
    color: white;
    border: none;
    border-radius: 6px;
}

.join:hover {
    background-color: #1E1E24;
}

#homepage-grid {
    display: block;
}

#weather,
#events,
#spotlight-one,
#spotlight-two,
#spotlight-three {
    margin: auto;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D5E1E9;
    padding: 10px;
    width: 90%;
}

#events {
    margin-top: 10px;
}

#spotlights {
    grid-column: 1 / 4;
    text-align: center;
}

footer {
    background-color: #1E1E24;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* DISCOVER PAGE */

.discover-title {
    display: block;
    text-align: center;
}

#visited,
#history,
#numbers,
#city-events,
#nature-spotlight,
#city,
#city-spotlight,
#museum {
    margin: auto;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D5E1E9;
    font-size: 18px;
    padding: 10px;
    width: 90%;
}

#visited p,
#history p,
#numbers p,
#city-events p,
#nature-spotlight p,
#city p,
#city-spotlight p,
#museum p {
    padding: 10px;
}

#discover-grid img {
    width: 90%;
    height: auto;
}

#discover-grid h2 {
    text-align: center;
}

#visited {
    text-align: center;
}

/* JOIN PAGE */

#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 35px;
}

.join-title {
    text-align: center;
    padding: 10px;
}

.webform fieldset {
    padding-left: 3em;
    border: 3px solid #1E1E24;
    width: 75%;
}

label,
input,
textarea {
    display: block;
}

legend {
    padding: .7em;
    margin: 0;
    color: black;
    font-size: 1.5em;
}

.webform label {
    font-size: 1.2rem;
    padding: .5rem;
    margin: .5rem;
    max-width: 400px;
}

.webform input {
    background-color: #e7f0fa;
    border: solid 1px black;
    padding: .75rem;
    margin: .75rem .05rem;
    width: 90%;
}

.webform input[type="text"],
.webform input[type="email"],
.webform input[type="tel"],
.webform input[type="radio"] {
    font-size: 1.2em;
    color: black;
}

textarea {
    width: 100%;
    min-height: 70px;
    padding-left: 5px;
    max-width: 25em;
    font-size: 1.2em;
    resize: vertical;
    margin: 1rem;
}

.webform input[type="submit"] {
    border: none;
    background-color: pink;
    border-radius: 10px;
    font-size: 1.5em;
    padding: .25em;
    margin-top: .5em;
    margin-left: 1em;
    width: 50%;
    max-width: 20rem;
}

.webform input[type="radio"] {
    height: 20px;
    width: 20px;
}

input:required {
    border-right: 3px solid red;
}

input:required:valid {
    border-right: 3px solid green;
}

.free-plan,
.bronze-plan,
.silver-plan,
.gold-plan {
    border: 1px solid #1E1E24;
    background-color: #D5E1E9;
    font-size: 18px;
    width: 90%;
    padding: .75rem;
    margin-bottom: 20px;
}