@media screen and (min-width: 850px) {
    #large-label {
        display: block;
        position: relative;
        bottom: 122px;
        font-size: 22px;
        color: white;
    }

    #small-label,
    #medium-label {
        display: none;
    }

    #homepage-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #events {
        grid-column: 1/3;
    }

    #weather {
        grid-column: 3/4;
    }

    #spotlight-one {
        grid-column: 1/2;
    }

    #spotlight-two {
        grid-column: 2/3;
    }

    #spotlight-three {
        grid-column: 3/4;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #info {
        grid-column: 3/4;
    }

    #copyright {
        grid-column: 1/2;
    }

    #project {
        grid-column: 2/3;
    }

    #lastMod {
        grid-column: 3/4;
    }

    #discover-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: auto;
    }

    .column-one {
        grid-column: 1/2;
    }

    .column-two {
        grid-column: 3/4;
    }

    .zoom {
        transition: transform;
    }

    .zoom:hover {
        transform: scale(1.1);
    }
}