@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }

    .navigation a {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    #spotlight-one {
        grid-column: 1/2;
    }

    #spotlight-two {
        grid-column: 2/3;
    }

    #spotlight-three {
        grid-column: 3/4;
    }
}