@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }


    .navigation a {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation a {
        display: block;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(3) {
        grid-column: 1/2;
    }

    .card {
        height: 350px;
        width: 90%;
    }
}