@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }


    .navigation a {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation a {
        display: block;
    }

    .hero-msg p {
        font-size: 1.2em;
    }

    #main-container {
        grid-template-columns: 1fr 1fr;
    }

    #main-container section:nth-child(2) {
        grid-column: 1/2;
    }

    .card {
        height: 350px;
        width: 90%;
    }
}